<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEMS - Add Officer or Farmer Details</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        header{
            background-color: rgb(107, 176, 245);
        }
    </style>
</head>
<body>
    <!-- header section start -->
    <section class="header-section">
        <header>
            <ul class="brand">
                <li><a href="/">AEMS</a></li>
            </ul>
            <ul class="ul-2">
                <li>
                    <a href="/officer-view">Officers</a>
                </li>
                <li>
                    <a href="/farmer-view">Farmers</a>
                </li>
                <li>
                    <a href="/farm-detail-view">Farm Details</a>
                </li>
                <li>
                    <a href="/history">Visit Histories</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </header>
    </section>
    <!-- header section ends -->
<style>
    .form-container{
        margin-top: 50px;
    }
    .form-control{
        width: 100%;
    }
</style>
    <!-- form section starts -->
    <div class="form-container">
        <h2>Add Officer or Farmer</h2>
        {% for message in messages %}
        <div class="danger">
            <p>{{message}}</p>
        </div>
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="farm-location">Full Name</label>
            <div class="row">
                <input type="text" name="full-name" id="" class="form-control" required>
            </div>
            <label for="phone-number">Phone Number</label>
            <div class="row">
                <input type="text" name="phone-number" id="" class="form-control" required>
            </div>
            <label for="contact-address">Contact Address</label>
            <div class="row">
                <textarea name="contact-address" id="" cols="30" rows="3" class="form-control" required></textarea>
            </div>
            <label for="Extention">Extention</label>
            <div class="row">
                <select name="extention" id="" class="form-control">
                    <option value="">Select your part..</option>
                    <option value="Farmer">Farmer</option>
                    <option value="Officer">Officer</option>
                </select>
            </div>
            <br>
            <div class="btn">
                <button>Add</button>
            </div>
        </form>
    </div>
    <!-- form section ends -->
</body>
</html>