<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEMS - Update Farm Details</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        header{
            background-color: rgb(107, 176, 245);
        }
    </style>
</head>
<body>
    <!-- header section start -->
    <section class="header-section">
        <header>
            <ul class="brand">
                <li><a href="/">AEMS</a></li>
            </ul>
            <ul class="ul-2">
                <li>
                    <a href="/officer-view">Officers</a>
                </li>
                <li>
                    <a href="/farmer-view">Farmers</a>
                </li>
                <li>
                    <a href="/farm-detail-view">Farm Details</a>
                </li>
                <li>
                    <a href="/history">Visit Histories</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </header>
    </section>
    <!-- header section ends -->

    <!-- form section starts -->
    <div class="form-container">
        <h2>Update User</h2>
        {% for message in messages %}
        <div class="danger">
            <p>{{message}}</p>
        </div>
        {% endfor %}
        <form action="/update-user/{{data.id}}" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <div class="row">
                <input type="text" name="username" id="" class="form-control" value="{{data.username}}">
            </div>
            <label for="email">Email</label>
            <div class="row">
                <input type="email" name="email" id="" class="form-control" value="{{ data.email }}">
            </div>
            <br>
            <div class="btn">
                <button>Save</button>
            </div>
        </form>
    </div>
    <!-- form section ends -->
</body>
</html>