<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEMS - Farm Details </title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        header{
            background-color: rgb(107, 176, 245);
        }
        body{
            background-color: rgb(198, 220, 243);
        }
        .cart{
            background-color: rgb(107, 176, 245);
        }
    </style>
</head>
<body>
    <!-- header section start -->
    <section class="header-section">
        <header>
            <ul class="brand">
                <li><a href="/">AEMS</a></li>
            </ul>
            <ul class="ul-2">
                <li>
                    <a href="/officer-view">Officers</a>
                </li>
                <li>
                    <a href="/farmer-view">Farmers</a>
                </li>
                <li>
                    <a href="/farm-detail-view">Farm Details</a>
                </li>
                <li>
                    <a href="/history">Visit Histories</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </header>
    </section>
    <!-- header section ends -->
<style>
    table{
        width: 100%;
    }
</style>
    <!-- table section starts -->
    <div class="table-section">
        {% for message in messages %}
        <div class="success">
            <p>{{message}}</p>
        </div>
        {% endfor %}
        <div class="table">
            <h2>Visit History</h2>
            <table>
                <thead>
                    <th>Full Name</th>
                    <th>Visits</th>
                </thead>
                <tbody>
                    {% for h in history %}
                    <tr>
                        <td>{{h.full_name}}</td>
                        <td>{{h.date_visit}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- table section ends -->
</body>
</html>